# 풀이 전 생각

In [ ]:
"""
다이나믹 프로그래밍으로 해결한다.

리스트 ls를 선언하고 k번째 인덱스에 k를 1, 2, 3의 합으로 나타내는 방법의 경우의 수를 담는다. ls[1] = 1이다.

i를 2부터 n까지, j를 1부터 i-1까지 반복하여 i를 j+(i-j)로 나타내는 경우의 수를 찾는다.

즉, ls[i] = sum(ls[j] * ls[i-j])이다.
"""

# 내 답안

In [ ]:
ls = [0] * 11
ls[1] = 1
ls[2] = 2
ls[3] = 4
for i in range(4, 11):
    for j in range(1, i):
        ls[i] += ls[j] * ls[i-j]
...

# 풀이 후 생각

In [ ]:
위의 풀이는 중복되는 경우의 수가 생긴다.

# 풀이 전 생각(2)

In [ ]:
"""
백트래킹으로 해결한다.

dfs 함수를 선언하고 인자로 남은 값(i)을 받는다.

이때 남은 값이 0이면 count에 1을 더하고 0미만이라면 중단한다.

그렇지 않다면, dfs(i-1), dfs(i-2), dfs(i-3)을 실행한다.
"""

# 내 답안(2)

In [1]:
from sys import stdin, stdout
queries = map(int, stdin.read().splitlines()[1:])

def dfs(i):
    global count
    if i == 0:
        count += 1
    elif i > 0:
        dfs(i-1)
        dfs(i-2)
        dfs(i-3)
        
ls = [0] * 11
for i in range(1, 11):
    count = 0
    dfs(i)
    ls[i] = count

answer = [str(ls[i]) for i in queries]
stdout.write("\n".join(answer))

1

# mygm1302님의 답안 https://www.acmicpc.net/source/8823139

In [ ]:
m=int(input())
d=[0]*(20);
d[1]=1
d[2]=2;
d[3]=4;
for i in range(1,11):
    d[i+3]=d[i]+d[i+1]+d[i+2]
for i in range(m):
    temp=int(input());
    print(d[temp]);

# 풀이 후 생각(2)

In [ ]:
"""
백트랙킹으로 해결했지만 처음 생각대로 다이나믹 프로그래밍을 이용하는 것이 조금 더 효율적이다.

 n = 4 인경우 

 4 = 1 + 3   ----- (1)

   = 2 + 2    ----- (2)

   = 3 + 1    ----- (3)

 로 표현 가능하고  (1)의 경우 n=3인 경우의 수와 같고, (2)의 경우 n=2인 경우의 수와 같고 (3)의 경우 n=1인 경우의 수와 같다. 그러므로 1,2,3으로 표현되므로 총 3가지 경우로 나눠서 고려해야했었던 것이었다.

  점화식으로 나타내면 다음과 같다.

  f(n) = f(n-1) + f(n-2) + f(n-3) (n>=4) f(1)=1,f(2)=2,f(3)=4
  
참고자료: https://animoto1.tistory.com/entry/%EB%B0%B1%EC%A4%80-9095-123-%EB%8D%94%ED%95%98%EA%B8%B0-%ED%8C%8C%EC%9D%B4%EC%8D%AC-Python

"""